<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdministrationProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <AdministrationProgram.Properties.Settings>
      <setting name="WLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FLogAntalFiller" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SqlConString" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSourceReg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Qlog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QlogMax" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="firstStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WLogSource" serializeAs="String">
        <value />
      </setting>
      <setting name="WLogLogName" serializeAs="String">
        <value />
      </setting>
      <setting name="WLogMachineName" serializeAs="String">
        <value />
      </setting>
    </AdministrationProgram.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>