<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" style="cursor:pointer" onclick="javaBass.Api.getPage('startpage', true)">Ljus & Miljö AB</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a style="cursor:pointer" data-toggle="modal" data-target="#Modal3">Om Ljus & Miljö AB</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor:pointer" onclick="javaBass.Api.logout()">Logga ut</a></li>
            </ul>

        </div>
    </div>
</nav>