<div class="container" style="margin-top:50px;">
    <center><img src="@Url.Content("~/Content/Images/log"+ new Random().Next(2,8) +".png")" class="img-responsive" alt="Ljus & Miljö AB"></center>
    <form id="loginForm" class="form-signin" role="form">
        <h2 class="form-signin-heading">Logga in</h2>
        <input id="loginName" type="text" class="form-control" placeholder="Användarnamn" required autofocus>
        <input id="loginPw" type="password" class="form-control" placeholder="Lösenord" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logga in</button>
        <button class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#Modal2">Glömt ditt lösenord?</button>
    </form>
</div>

